HELP.md
portalmanagement/target/
userservice/target/
api-gateway/target/
discovery-service/target/
userservice/.mvn/wrapper/maven-wrapper.jar
portalmanagement/.mvn/wrapper/maven-wrapper.jar
api-gateway/.mvn/wrapper/maven-wrapper.jar
discovery-service/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
apps/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
userservice/.idea

portalmanagement/.idea
api-gateway/.idea

discovery-service/.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
